.landing_h1 {
  font-family: 'Galada', cursive;
  margin-bottom: 20px;
  font-size: 50px;
}

.landingContainer {
  border: 1px solid hotpink;
  border-radius: 25px;
  margin: 0 auto 0;
  width: 500px;
  color: white;
  background-color: rgb(28, 11, 56);
  ;
}

.landing_button {
  background-color: rgb(28, 11, 56);
  border: hotpink 1px solid;
  color: white;
  border-radius: 5px;
  padding: 5px 20px;
  margin-bottom: 30px;
}

.landing_button a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.mission {
  max-width: 500px;
  margin: 30px auto 30px;
  padding: 0 30px 0;
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;  
}
.mission h2 {
  font-size: 24px;
}
.accent{
  color: rgb(100, 4, 109);
}