.dash-header{
  margin-bottom: 20px;
  font-family: 'Galada', cursive;
}

.dash-welcome{
  margin-bottom: 30px;
  font-size: 20px;
}

.dash-menu {
  position: fixed;
  right: 10px;
  top: 50%;
  
}

.dash-slide{
  background-color: rgb(28, 11, 56);
  color: white;
  border: hotpink 1px solid;
  padding: 2px;
}

.dash-prac-button {
  background-color: rgb(28, 11, 56);
  border: hotpink 1px solid;
  color: white;
  border-radius: 5px;
  display: block;
  margin: 10px auto 20px;
  font-size: 20px;
  padding: 5px 20px;
}

.dash-prac-button a {
  text-decoration: none;
  color: white;
}

.statsArea{
  border: red 1px solid;
  height: 200px;
  width: 70%;
  margin: 4%;
}

.quizArea{
  border: red 1px solid;
  height: 450px;
  overflow: scroll;
  width: 70%;
  margin: 4%;
  margin-top: 10px;
}

::-webkit-scrollbar { width: 0px; background: transparent; }

.quizHeader{
  width: 78%;
  margin: 0;
}

.quizContents {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  border: 1px dashed black;
  align-items: center;
}

@media screen and (max-width: 820px) {
  .statsArea{
    /* border: red 1px solid; */
    /* height: 200px; */
    width: 90%;
    /* margin: 4%; */
  }

  .quizHeader{
    margin: 0 auto 0;
  }

  .quizArea{
    /* border: red 1px solid; */
    height: auto;
    width: 90%;
    /* margin: 4%;
    margin-top: 10px; */
  }

}
