.App {
  text-align: center;
  color: rgb(28, 11, 56);
  padding: 10px;
}

html {
  background-color: rgb(177, 198, 211);
  margin-top: 80px;
  background-image: url(./Media/SLY-Background.jpg);
  background-size: cover;
}

label {
  display: block;
  font-weight: bold;
  margin: 20px auto 20px;
  font-size: 20px;
}

input {
  margin: 20px 0 40px;
  text-align: center;
  color: white;
  background-color: rgb(28, 11, 56);
  border: 1px solid hotpink;
  font-size: 18px;
}

select {
  border: 1px solid hotpink;
  color: white;
  background-color: rgb(28, 11, 56);
  font-size: 18px;
  margin: 20px 0 40px;
 
}

