nav {
  background-color: rgb(28, 11, 56);
  display: inline-block;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 5px;
  font-size: 20px;
  min-height: 40px;
  border-bottom: 1px solid hotpink;
}

.burgerIcon {
  position: absolute;
  right: 0;
  top: 0;
  color: white;
  padding: 0px;
  margin: 0px;
  width: 50px;
  display: flex;
  flex-direction: row;
  justify-content: right;
  font-size: 35px;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 5px;
  margin-top: 50px;
  overflow: hidden;
  font-size: 20px;
  padding: 0px;
}

.null{
  display: none;
}

nav li {
  display: inline;
  text-align: right;
  margin: 4px
}

nav li a {
  padding: 4px;
  color: white;
  text-decoration: none;
}

.navLogo {
  height: 40px;
  width: auto;
  float: left;
  padding-left: 10px;
}

/*tablet screen*/
@media screen and (min-width: 620px) {
  .links {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-end;
    margin: 5px;
    padding: 0;
    align-self: center;
    
  }
 
  .burgerIcon {
    display: none;
  }
    
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
  }

}