.login-header {
  margin-bottom: 30px;
}
.new {
  color: blue;
}

.Login_button{
  background-color: rgb(28, 11, 56);
  border: hotpink 1px solid;
  color: white;
  border-radius: 5px;
  display: block;
  margin: 10px auto 20px;
  padding: 5px 20px;
  font-size: 20px;
}